.boxFrame {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 1px solid #cbccd0;
  border-radius: 10px;
}
.contactUs {
  font-size: 20px;
  display: inline-flex ;
  align-items: center;
}
